/*
font-family: 'Megrim', Helvetica, Arial;
font-family: 'Unica One', Helvetica, Arial;
font-family: 'Share', Helvetica, Arial;

colors
dark gray: #1B242B
deep sea green: #009085
mint green: #4EBE9F
concrete gray: #8D8F6F
slate gray: #8199A3
gray: #7A7574
white: #ffffff
*/


/******Colors**********/


/*backgrounds*/

.dark-gray-background {
    background-color: #1B242B;
}

.full {
    height: 101.5vh;
}

.light-gray-background {
    background-color: #BFC1C1;
}

.concrete-gray-background {
    background-color: #8D8F6F;
}

.slate-gray-background {
    background-color: #8199A3;
}

.gray-background {
    background-color: #7A7574;
}

.sea-green-background {
    background-color: #009085;
}

.mint-green-background {
    background-color: #4EBE9F;
}

.white-background {
    background-color: #F6FBFB;
}

.clear {
    opacity: 0;
}


/*fonts*/

.dark-gray-font {
    color: #1B242B;
}

.concrete-gray-font {
    color: #8D8F6F;
}

.slate-gray-font {
    color: #8199A3;
}

.gray-font {
    color: #BFC1C1;
}

.sea-green-font {
    color: #009085;
}

.mint-green-font {
    color: #4EBE9F;
}

.white-font {
    color: #ffffff;
}


/**************************************************************************************************/


/**************************************************************************************************/


/***********************************Pages CSS******************************************************/


/**************************************************************************************************/


/**************************************************************************************************/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Share', Helvetica, Arial;
}

.wood-background {
    background: url('wood2.jpeg');
    background-size: 100%;
    height: 70vh;
    min-height: 350px;
}

.page-break {
    height: 6vh;
}

.full-wood-background {
    background-image: url('wood2.jpeg');
    background-size: 100%;
    background-repeat: none;
    height: 101.5vh;
}

.title-box {
    background-color: #009085;
    color: #ffffff;
    margin-bottom: 4%;
}

h1 {
    font-size: 750%;
    font-weight: bolder;
    font-family: 'Megrim';
}

h4 {
    font-size: 150%;
}

.opening-box {
    margin-top: 8%;
    padding: 1%;
    background-color: black;
    opacity: .9;
    color: #ffffff;
    text-align: center;
}

.brand {
    /*    margin-bottom: 3%;
*/
}

.brand-nav {
    font-weight: bolder;
    font-family: 'Megrim';
    letter-spacing: 5px;
    float: left;
    color: #ffffff;
    padding: 0.25% 7%;
    margin-right: 1%;
    height: 100%;
}

.nav {
    border-top: solid #4EBE9F 4px;
}

.nav-item {
    padding: 0 16% 1% 16%;
}

.signUp {
    padding: 0 16% 1% 0;
}

.search-nav,
.search-nav:focus {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 120%;
    margin-left: 0.4em;
}


/*.search-icon {
    border: 2px solid #7A7574;
    padding: .75em;
    border-radius: 35%;
}
*/

.button-nav {
    float: right;
    height: 100%;
    width: 8%;
    border-radius: 0 !important;
    font-weight: bolder;
}

.navbar #signUpButton {
    margin-right: .5%;
}

.navButton {
    font-size: 1.5rem;
}

.search-button {
    border: 1px solid #4EBE9F;
    padding: 3%;
    /*margin-bottom: 2%;*/
    font-weight: 60%;
}

.is-primary {
    background-color: #009085;
    color: #ffffff;
    font-weight: bolder;
}

.is-warning {
    background-color: #1B242B !important;
    color: #009085 !important;
    font-weight: bolder;
}

.carousel-container {
    padding-top: 2%;
}

#carousel-button-left,
#carousel-button-right {
    text-align: center;
    padding: 100% 0 !important;
    margin: 100% 0;
}

.card {
    height: 500px !important;
    width: 300px !important;
    margin: 0 1%;
}

.card img {
    height: 175px !important;
}

.button {
    font-family: 'Share', cursive;
    margin: 0 0.4em;
    border: none !important;
}

.topBar {
    margin-top: 10%;
}


/*home page*/

.homeCalendarBox {
    margin-top: 3%;
    text-align: center;
}


/*anonymousConsole*/

.anonymousIntro {
    margin-top: 3%
}


/*index page*/


/*resource panel page*/

#bookOne,
#bookTwo {
    overflow: auto;
}

.float-left {
    float: left;
}

.float-left img {
    min-width: 90px;
    min-height: 128px;
    max-width: 90px;
    max-height: 128px;
}

.bookImageAndDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookImageAndDescription p {
    margin-left: 2%;
}

.youtubeBox {
    margin: 1%;
    margin-bottom: 0;
}

#player {
    width: 100%;
    padding: inherit;
    text-align: center;
}

.box:not(:last-child) {
    margin-bottom: 0;
}

h6 {
    max-width: 90%;
}


/*syllabus/calendar page*/

.calendar-card {
    height: 200px !important;
    width: 150px !important;
    overflow-y: scroll;
    background-color: white;
    color: black;
    margin: 5px;
}

//
